Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Variant_Horror/Blueprints/BP_HorrorCharacter.uasset
Content/Variant_Horror/Blueprints/BP_HorrorGameMode.uasset
Content/Variant_Horror/Blueprints/BP_HorrorPlayerController.uasset
Content/Variant_Horror/Blueprints/Light/Assets/Materials/LF_Flicker.uasset
Content/Variant_Horror/Blueprints/Light/Assets/Materials/M_DustMote.uasset
Content/Variant_Horror/Blueprints/Light/Assets/Materials/M_Light.uasset
Content/Variant_Horror/Blueprints/Light/Assets/Materials/MF_LightFlicker.uasset
Content/Variant_Horror/Blueprints/Light/Assets/Materials/MI_FlickeringLight.uasset
Content/Variant_Horror/Blueprints/Light/Assets/NS_DustMote.uasset
Content/Variant_Horror/Blueprints/Light/BP_HorrorLight.uasset
Content/Variant_Horror/Input/IA_Sprint.uasset
Content/Variant_Horror/Input/IMC_Horror.uasset
Content/Variant_Horror/Lvl_Horror.umap
Content/Variant_Horror/UI/M_FillBackground.uasset
Content/Variant_Horror/UI/UI_Horror.uasset
